<div class="cover"  [ngStyle]="{'flex-direction': largeScreen ? 'column' : 'row'}">
    <div class="box" [ngStyle]="{'height': largeScreen ? '45vh' : '89.5vh', 'width': largeScreen ? '100%' : '50%'}">
        <div class="box_aline">
            <h1 >Hello! <br>I am </h1>
            <img src="../../../assets/img/portada.png" alt="">
        </div>
    </div>

    <div class="box" [ngStyle]="{'height': largeScreen ? '45vh' : '89.5vh', 'width': largeScreen ? '100%' : '50%'}">
        <div>
            <span style="width: 8ch">|Backend</span>
            <span style="width: 9ch">|Frontend</span>
            <span style="width: 11ch">|Full Stack</span>
        </div>
    </div>
</div>

<div class="about">
    <div class="profile">
        <img src="../../../assets/img/img_profile.png" alt="">
        <h3> Nicolas Arturo Rios Olivero</h3>
    </div>

    <div class="des_about">
        <h2>Sobre Mi</h2>
        <p>Soy una persona trabajadora, persistente y comprometida en busca de oportunidades para desarrollar proyectos de software y sistemas informáticos. Mi objetivo es ganar experiencia para fortalecer mis habilidades en estas áreas.</p>
        <button>Descarga cv</button>
    </div>
</div>
