
<nav class="c_navbar">
    <div class="nav_left">
        <a href="#">
            <img src="../../../assets/img/logo_menu.png" class="menu_logo"> 
        </a>
        <ul class="nav_seccions">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Sobre mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Conocimientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Contactos</a>
            </li>
        </ul>
    </div>
    <div class="nav_right">
        
        <mat-slide-toggle [(ngModel)]="isDarkThemeActive" ></mat-slide-toggle>
    </div>
</nav>
